@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

@font-face {
    font-family: 'FontAwesome';
    src: url('font-awesome-4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0')format('embedded-opentype'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0')format('woff2'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0')format('woff'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0')format('truetype'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')format('svg');
    font-weight: normal;
    font-style: normal
}

af|panelHeader::title0 {
    background-color: #0072AB;
    padding-left: 15px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 6px;
}

af|panelHeader::title-text0 {
    color: #f7f7f7;
    font-family: Segoe UI;
    font-weight: 600;
}

af|panelHeader::content0 {
    border: 1px solid #D6DFE6;
    background-color: #ededed;
}

af|selectOneChoice::content {
    border: 1px solid #D6DFE6;
    border-radius: 2px;
    height: 22px;
}
/* Ueberschrift outputText*/
.menu div {
    font-size: large;
    font-family: Segoe UI;
    font-weight: 600;
}

.menu af|navigationPane-list::bullet:selected {
    border-left: 5px solid #0072AB;
}

.menu af|navigationPane-list::link:selected {
    font-weight: 700;
}

.menu {
    margin: 15px;
}

.content {
    margin: 15px;
    /*border: 1px solid #0072AB;*/
}

.menu af|navigationPane-list::link {
    font-size: medium;
    margin-left: 20px;
    font-family: Segoe UI;
    font-weight: 400;
}

.menu af|navigationPane-list {
    padding: 5px 5px 5px 5px;
}

.search_icon:before {
    content: "\f002";
    font-family: FontAwesome;
    margin-top: 4px;
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    font-size: medium;
    margin-bottom: -2px;
}

af|button::text {
    margin-bottom: -2px;
}

.box {
    background-color: White;
    border: 1px solid #D6DFE6;
    padding: 5px;
}

af|panelBox::content {
    padding-top: 10px;
}

af|panelBox::header-element {
    font-family: Segoe UI;
    font-weight: 500;
    font-size: medium;
}

af|panelBox::header-text {
    height: 20px;
}

af|panelBox {
}